body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    #app {
        height: 100%;
        overflow: hidden;
    }
}

.main {
    height: 100%;
    padding-bottom: 56px;
}